@model List<EntityLayer.Concrete.ProjectTestimonial>

<div class="testimonials py-lg-5 py-4" id="clients">
    <div class="testimonials-inner container py-lg-4 py-3">
        <h4 class="sub-tittle-w3 text-uppercase text-center">Yorumlar</h4>
        <h3 class="tittle-w3 text-uppercase mb-lg-5 mb-3 text-center">Projeye Dair</h3>

        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner" role="listbox">

                @if (Model != null && Model.Count > 0)
                {
                    var first = true;
                    foreach (var item in Model)
                    {
                        <div class="carousel-item @(first ? "active" : "")">
                            <div class="testimonials_grid text-center">
                                <div class="testimonials_grid-inn text-uppercase">
                                    <i class="fas fa-quote-left"></i>
                                    <p>@item.Comment</p>
                                </div>
                                <h3>@item.FullName</h3>
                                <label>@item.City</label>
                            </div>
                        </div>
                        first = false;
                    }
                }

            </div>

            <a class="carousel-control-prev test" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="fas fa-long-arrow-alt-left"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next test" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="fas fa-long-arrow-alt-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>
